.margin {
    width: 50%;
    margin-left: 25%;
    // text-align: center;
    // text-align-last: center;
    background-color: transparent;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

@media (max-width: 600px) {
    .mat-form-field-infix {
        width: 60px !important;
    }
    .margin {
        width: 94%;
        margin-left: 3%;
    }
}
