.example-spacer {
    justify-content: center;
  }

  .img{
    width: 40%;
    opacity: 43%;
    margin-left: 27%;
  }

  @media (max-width: 600px) {
    .fontPrincipal{
      font-size: 13px;
    }
  }