<mat-toolbar class="margin mt-5 fontPrincipal background">

    <mat-form-field appearance="legacy">
        <mat-icon class="search">search</mat-icon>
        <!-- <mat-label class="fontPrincipal"> Buscar </mat-label> -->
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <span class="example-spacer"></span>
    <span>Primera Selección</span>
    <!-- <mat-label class="fontPrincipal" (click)="add()"> Add</mat-label> -->
    <!-- <mat-icon (click)="add()" class="add">add_circle</mat-icon> -->
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 margin" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> reference </th>
        <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let element"> {{element.firtName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef> Ver </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon (click)="view(element.id)" class="view">touch_app</mat-icon>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="vote">
        <th mat-header-cell *matHeaderCellDef> Votar </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon (click)="vote(element.id, 'true')" class="delete">laptop</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="margin" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
