.display{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
}

@media (max-width: 700px) {
    .display {

        margin-bottom: 6em;    }
   
}