//fondo
$gray:#E4E4E4;
//principal Background
$morado:#8E2DE2;
$blue:#4A00E0;
//principal Font
$red:#970E17;
$white: #ffff;
//icons
$edit:#ffc107;
$delete:#ed0d23;
$cancel:white;
$search: white;
$add:#98fb00;
$view:#8a2be2;