<footer>
    <mat-toolbar class="background">
        <mat-toolbar-row>
            <span class="example-spacer"></span>
            <span class="fontPrincipal">{{cr}}</span>
            <span class="example-spacer"></span>
            <span></span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span></span>
            <span class="example-spacer"></span>
            <img [src]="gp" alt="" class="img-fluid" style="width: 6rem;    margin-left: 5rem;">
            <span class="example-spacer"></span>
            <img [src]="csf" alt="" class="img-fluid" style="width: 5rem;">
        </mat-toolbar-row>
    </mat-toolbar>
</footer>